
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */


/**
 * Add your custom styles below

/********* Navigation Bar *************/
.navWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 4rem;
}
.navWrapper img {
    width: 40px; 
    height: 40px;
    margin-top: 10px;
    margin-left: 300px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 500px;
    margin-top: 35px;
    margin-right: 300px;
    list-style: none;
}
nav ul a {
    text-decoration: none;
    color: grey;font-size: 1rem;
}

nav ul a:hover {
    text-decoration: none;
    color: rgb(65, 63, 63);
    font-weight: bold;
}

#firstLink {
    font-weight: bold;
}
/************ Main ********************/
main {
    background-image: url(/week2/1-website/img/first-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    color: cornsilk;
    text-align: center;
    margin-top: 5px;
}

.mainContent {
    padding: 200px;
}
.mainContent h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;

}

main a {
    text-decoration: none;
    color: cornsilk;
}

main button {
    background-color: #FF5722;
    padding: 15px 42px;
    border-radius: 14px;
    border: none;
}


/**************** Section 2************/

.partTwo { 
    display: flex;
    justify-content: space-evenly;
    min-width: 80vhvh;
    margin-bottom: 100px;

}

.partTwo section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    height: 130px;
    width: 8rem;
}

h2 {
    text-align: center; 
    margin-bottom: 60px;  
    font-family:'Roboto', sans-serif;    
    font-size: 35px;
    font-weight: lighter; 
}
/************** Hr and Footer***************/

hr {
    border-top: solid #BDBDBD;
    border-width:1px;
    width: 90%
}
footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer p {
    margin-left: 94px;
    margin-top: 20px;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer li {
    list-style: none;
    margin: 6px;
    margin-top: 0px;    
    font-size: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
    color: blue;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
}

#copyrights {
    margin-top: 5px;
    margin-bottom: 50px;
    color: #BDBDBD;
    font-weight: 800;
}

/*****Media Queries*****/cc

@media  screen and (max-width: 380px) {

    nav img {
        width: 15px
    }
    .navWrapper {
        height: 50px;
        width: 500px;
        padding: 70px
    }
}

@media  screen and (max-width: 380px) {
    nav ul {
    }
    
}

@media  screen and (max-width: 380px) {
main  {
    background-image: url(/week2/1-website/img/resizedfirst-background.jpg);
    background-size: 600px 456px;
    margin-left: 5px;
    }

.mainContent {
    width: 110px;
    height: 440px;
    position: relative;
    right: 140px;
    margin-bottom: 3px;
    padding-bottom: 1px;
}
.mainContent h1 {
    font-size: 25px;
    width: 300px;
    position: relative;
    right: 90px;
}

main p {
    font-size: 14px;
    text-align: center;
    width: 150px;
    position: relative;
    right: 20px;
    margin-bottom: 50px ;
}

main button {
    position: relative;
    margin-right: 120px;
    padding: 0;
    width: 110px;
    height: 35px;
}

.partTwo { 
height: 500px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 5px;
padding: 3px;
}

h2 {
    font-size: 20px;
    position: relative;
    left: 35px;
}

footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 65px;
}


}

 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


